<template name="about">
    <div class="background-image-about"></div>
    <header>
    <div class="header-content">
        {{> navbar}}
        <!-- <div class="header-content-inner"> -->
            <h1 style="text-align:left;">About Localist</h1>
            <p style="text-align:left;">Localist was built as a side project by a student looking for cool things to do and places to go wherever he went. This was made as a way to identify those places.</p>
        <!-- </div> -->
    </div>
    </header>
</template>
