<template name="app">
    <header>
        <!-- <div class="header-content" style="min-height:100%;"> -->
            {{> mapNavbar}}
            <div class="overmap-container" style="visibility:hidden;">
                {{#if displayInfo}}
                    {{> markerInfo}}
                {{else}} {{#if insertingMarker}}
                    {{> insertMarker}}
                {{/if}}{{/if}}
            </div>
            <div class="map-container">
                {{#unless geolocationFails}}
                    {{> googleMap name="appMap" options=appMapOptions}}
                {{else}}
                    {{> googleMap name="appMap" options=stdMapOptions}}
                {{/unless}}
            </div>
        <!-- </div> -->
    </header>
</template>
