<template name="main">
    <div class="background-image"></div>
    <header>
        <div class="header-content">
            <nav id="main-pg-navbar" class="navbar navbar-default navbar-fixed-top nav-custom" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-pg-navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand color-black">Localist</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="mailto:reservationhunter@gmail.com" class="color-black navbar-link">CONTACT</a>
                            </li>
                            <li><a href="#" class="color-black navbar-link">ABOUT</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            {{#if userSubscribed}}
                <div class="alert alert-success"><strong>Congratulations!</strong> Your email has been submitted.</div>
            {{/if}}
            <div class="header-content-inner">
                <h1>Explore like a local.</h1>
                <hr>
                <p>Travel like a local. Let Localist act as your local guide and find cool locations and hangouts in any city by choosing from our curated selection of hotspots.</p>
                <div class="col-md-4 col-md-offset-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email" id="email-addr">
                        <span class="input-group-btn">
                            <button class="btn btn-color" type="button" id="subscribe-btn">Subscribe for Updates</button>
                        </span>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="col-md-4 col-md-offset-4">
                    <div class="col-md-4">
                        <a href="http://twitter.com/intent/tweet?status=Check+out+cool+places+from+Localist+at+http://localhost:3000" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-twitter fa-2x" style="color:#16a085"></i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.facebook.com/share.php?u=http://localhost:3000&title=Travel+like+a+local+with+localist" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-facebook-official fa-2x" style="color:#16a085"></i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://plus.google.com/share?url=http://localhost:3000" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <i class="fa fa-google-plus-square fa-2x" style="color:#16a085"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>
